<mat-nav-list *ngIf="isSidenavExpanded">
    <mat-list-item
        routerLink="notes"
        [queryParams]="{category: 'all'}"
        routerLinkActive="active-link"
        [style.backgroundColor]="'darkgrey'"
    >
        <mat-icon>done</mat-icon>
        <h4 mat-line>All</h4>
    </mat-list-item>
    <mat-list-item
        *ngFor="let category of noteService.categories"
        routerLink="notes"
        [queryParams]="{category: category.name}"
        routerLinkActive="active-link"
        [style.backgroundColor]="category.name"
    >
        <mat-icon>done</mat-icon>
        <h4 mat-line>Select</h4>
    </mat-list-item>
</mat-nav-list>
