$white: #fff;
$link-color: #97a7c1;
.menu-button {
  transition: 0.3s ease-in-out;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.menu-button.rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  padding-left: 24px;
  height: 0;
}
.submenu.expanded {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  height: auto;
}
.mat-nav-list a,
.mat-list-base .mat-list-item {
  font-size: 14px;
  color: $link-color;
}
.mat-list-base .submenu .mat-list-item {
  color: $link-color;
  font-weight: 300;
}
.mat-list-base .submenu .mat-list-item .active-link,
.mat-list-base .submenu .mat-list-item a:hover,
.mat-list-base .mat-list-item a:hover {
  color: $white;
}
.active-link {
  color: $white !important;
}
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  width: 16px;
  height: 16px;
  font-size: 15px;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 42px;
}
.mat-nav-list .submenu .mat-list-item {
  height: 34px;
}
.sidenav-width{
  min-width : 202px;
}
