$white: #fff;
$gray: gray;
$link-color: #0f0f0f;
.menu-button {
  transition: 0.3s ease-in-out;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.menu-button.rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mat-nav-list a,
.mat-list-base .mat-list-item {
  font-size: 14px;
  color: $link-color;
}
.mat-list-base .submenu .mat-list-item {
  color: $link-color;
  font-weight: 300;
}
.mat-list-base {
  padding-top: 0 !important;
}
.mat-list-base .submenu .mat-list-item .active-link,
.mat-list-base .submenu .mat-list-item a:hover,
.mat-list-base .mat-list-item a:hover {
  color: $gray;
}
.active-link {
  color: $white !important;
}
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  width: 16px;
  height: 16px;
  font-size: 15px;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 42px;
}
.mat-nav-list .submenu .mat-list-item {
  height: 34px;
}
.sidenav-width {
  min-width: 202px;
}
